<% top = 10; left = 10; %>
<% width = maze_processor.length * 35 + 2 %>
<% height = maze_processor.width * 35 + 2 %>

<div class="maze" style="width:<%= width %>px; height:<%= height%>px;">
    <% maze_processor.maze_array.each do |node| %>
        <div class="maze_cell <%= node.class_name %>" style="top: <%= top + node.y * 35 %>px; left: <%= left + node.x * 35 %>px;"></div>
    <% end %>
</div>
