<% top = 5; left = 5; %>
<% width = maze_processor.length * 35 + 10 %>
<% height = maze_processor.width * 35 + 10 %>

<div class="maze" style="width:<%= width %>px; height:<%= height%>px;">
    <% maze_processor.maze_array.each do |node| %>
        <span class="maze_cell <%= node.class_name %>" style="top: <%= top + node.y * 35 %>px; left: <%= left + node.x * 35 %>px;">
            <%# "#{node.x}, #{node.y}" %>
        </span>
    <% end %>
</div>
