<!DOCTYPE html>
<html>
  <head>
    <title>RailsMazer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="main_container">
      <% if !current_page?(login_path) && !current_page?(new_user_path) then %>
        <%= render partial: "layouts/header", locals: {user: @user} %>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
